interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v3.mbta.com/lines/line-Orange
  response:
    body:
      string: '{"data":{"attributes":{"color":"ED8B00","long_name":"Orange Line","short_name":"","sort_order":10020,"text_color":"FFFFFF"},"id":"line-Orange","links":{"self":"/lines/line-Orange"},"relationships":{"routes":{}},"type":"line"},"jsonapi":{"version":"1.0"}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Thu, 15 Oct 2020 20:21:11 GMT
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1603031700'
    status:
      code: 200
      message: OK
version: 1
